*{
    margin: 0px;
    padding: 0px;
}
.head-container{
    background-color: rgb(33, 28, 28);
    padding: px;
    list-style: none;
    align-items: center;
    display:flex;
    justify-content: space-around;
}
.menu{
    color: aliceblue;
    display: flex;
    text-justify: distribute;
    
}
.item{
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color:darkblue
}
.logodesign{
    width: 340px;
}
.Projects{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: azure;
}
.written{
    font-weight: bold;
    font-size:30px ;
}
.hero{
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 15px;
}
button{
    color: azure;
    background-color: brown;
    padding: 10px;
    border: none;
}
